public/images/herosection/*.jpg filter=lfs diff=lfs merge=lfs -text
public/images/bridalsaree/*.jpg filter=lfs diff=lfs merge=lfs -text
public/images/banners/*.png filter=lfs diff=lfs merge=lfs -text
